body {
    background-color: lightslategrey;
}

h1 {
    font-size: 5vw;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

textarea {
    padding: 10px;
    border-radius: 12px;
    outline: none;
    margin-bottom: 2%;
    width: 80vw;
    height: 60vh;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

#btn-grp {
    display:flex;
    flex-direction:row;
    justify-content:center;
}
button {
    width: 22vw;
    height: 10vw;
    font-size: 4vw;
    margin: 10px 15px 15px 0px;
    cursor: pointer;
    color: white;
    border-radius: 15px;
}

button:hover {
    opacity: 0.5;
}

#bold{
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
}

#italic{
    background-color: #d1d86e;
    border-bottom: 5px solid #bec049;
    text-shadow: 0px -2px #bec049;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
}

#underline{
    background-color: #c835e2;
    border-bottom: 5px solid #771e8d;
    text-shadow: 0px -2px #771e8d;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
}

#aplus{
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
}

#aminus{
    background-color: rgb(197, 56, 56);
    border-bottom: 5px solid rgb(121, 29, 29);
    text-shadow: 0px -2px rgb(121, 29, 29);
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
}